.myNav {
  border-bottom: 1px solid lightgray;
  padding: 5px 20px;
  background-color: rgb(159, 197, 223);
  & > a {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 150px;
    border-radius: 3px;
    padding: 10px 0;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: black;
    &.active {
      box-shadow: 3px 3px 3px rgb(54, 54, 54);
      font-weight: bold;
    }
    &.active:hover {
      color: black;
    }
    &:hover {
      color: red;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
